# Ignore all node modules
node_modules
client/node_modules
server/node_modules

# Ignore all env files
.env
client/.env
server/.env
.env.local
.env.development
.env.production

# Other common ignores
dist
build
.DS_Store
